/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

i {
    padding-top: 3px;
}

.flex {
    display: flex;
}

.container65 {
    width: 65%;
    margin: 0 auto;
}

.container {
    width: 55%;
    margin: 0 auto;
}


/* button style */

.button {
    border: none;
    background-color: #0061ff;
    color: #fff;
    height: 30px;
    padding: 0 10px;
    font-size: 11px;
}

/* header style */

header {
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: #fff;
    font-size: 12px;
    z-index: 900;
}

#logo img {
    width: 90px;
}

header a {
    color: #000;;
}

nav.flex {
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.flex-left, .flex-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

/* jumbotron style */

#jumbotron {
    background-color: #b4d0e7;
    margin-top: 60px;
    padding-top: 70px;
    font-size: 12px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.text {
    width: 35%;
}

.fa-arrow-down {
    font-size: 35px;
    margin-top: 70px;
    color: #000;
}

.image {
    width: 65%;
}

.image > img {
    width: 105%;
    height: 115%;
}

/* text style */

p {
    margin-bottom: 20px;
}

.text .button {
    margin-bottom: 20px;
}

/* main style */

main {
    padding: 100px 0;
    font-size: 11px;
}

h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.checkbox {
    margin-right: 50px ;
}

#circle-blue {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 4px solid #0061ff;
    border-radius: 50%;
    margin-bottom: -3px;
}

#circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1.5px solid #999;
    border-radius: 50%;
    margin-bottom: -3px;
}

/* section piano business style */

.flex.price-plan {
    margin-top: 40px;
    justify-content: space-between;
}

.col {
    width: 30%;
    border: 1px solid #999;
}

.class-plan {
    padding: 7px 0;
    text-align: center;
    border-bottom: 1px solid #999;
}

.plan {
    padding: 25px 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

h5{
    margin-bottom: 8px;
}

.grey {
    display: inline-block;
    color: #999;
    margin-bottom: 15px;
}

.flex.planner {
    gap: 3px;
    margin: 15px 0;
}

.col .button {
    width: 100%;
    margin: 20px 0;
}

.grey.buy-now {
    display: block;
    padding-bottom: 20px;
    position: relative;
}

.grey.buy-now::after {
    content: '';
    display: block;
    width: 25%;
    height: .5px;
    background-color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
}

.underline {
    text-decoration: underline;
}

.point-planner {
    font-size: 10px;
    margin: 15px 0;
}

.fa-check {
    color: #0061ff;
}

/* row style */

.row {
    margin-top: 40px;
    border: 1px solid #999;
}

.flex.orizontal {
    padding: 20px;
    justify-content: space-between;
}

.row .col-left {
    width: 60%;
}

.row .col-right {
    width: 27%;
}

.col-right .button{
    width: 100%;
    margin: 0;
}

.col-left h5 {
    margin-bottom: 40px;
}

/* DEBUG */


